body {
	background-color: #23557F;
	padding: 80px;
}

.jumbotron {
	text-align: center;
	background-color: #31C4D9;
	color: white;
	border: none;
	font-family: 'Fredericka the Great', cursive;
	border-radius: 25px;
	height: 25em;
}

button {
	border-radius: 10px;
	width: 10em;
	height: 3em;
	font-family: 'Fredericka the Great', cursive;
	color: white;
	background-color: #31C4D9;
	font-size: 15px;
	margin-right: 10px;
}

p {
	color: white;
	font-size: 15px;


}

img {
	
	border: solid 2px white;
	
	
}

label {
	font-size: 30px;
}

#add-movie {
	background-color: black;
	border-radius: 5px;
	padding: 2px 12px 2px 12px;
	font-size: 20px;
}

#movie-input {
	color: black;
	padding-top: 5px;
	padding-bottom: 3px;
}